body {
    font-family: 'Cutive Mono', monospace;
}
h3 {
    font-family: 'Limelight', cursive;
}
span.date {
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    color: #dd4956;
}
span.rate {
    color: #dd4956;
    float: right;
}
.ui.header {
    font-family: 'Poiret One', cursive;
}
.ui.one.cards>.card {
    width: 290px;
}
.ui.card {
    overflow: hidden;
}
.ui.button {
    font-family: 'Cutive Mono', monospace;
    background-color: #dd4956;
    color: white;
}
.ui.primary.button, .ui.primary.buttons .button {
    background-color: black;
}
.ui.menu {
    font-family: 'Cutive Mono', monospace;
    text-align: center;
}
.card .meta {
    text-overflow: ellipsis;
    overflow: hidden;
}
.ui.card>.content>.header,
.ui.cards>.card>.content>.header {
    font-family: 'Poiret One', cursive;
}
.ui.raised.card, .ui.raised.cards>.card {
    box-shadow: 4px 0 13px rgba(51,51,51,0.5);
}
.ui.segment.pane {
    border: none;
    box-shadow: none;
}
.intro-section {
    color: black;
    padding: 80px;
    text-align: center;
}
.intro-section h3 {
    font-size: 2.8rem;
    font-weight: 700;
}
.intro-section p {
    font-size: 2.3rem;
    color: black;
}
.divider-section {
    background-color: #262b2d;
    color: white;
}
.ui.pointing.secondary.main-menu.menu {
    margin-bottom: 0;
    background-color: #262b2d;
    position: relative;
    padding: 20px;
    border-bottom: 2px solid #dd4956;
}
.ui.menu.main-menu>.menu {
    position: absolute;
    left: 0;
    top: 0;
}
.ui.menu.main-menu>.menu,
.ui.menu.main-menu>.menu .item {
    height: 100%;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}
.ui.menu.main-menu>.header {
    margin-left: auto;
    margin-right: 0;
}
.ui.menu.main-menu>.header h3 {
    font-size: 1.5rem;
    color: #dd4956;
}
.ui.secondary.pointing.menu.main-menu .dropdown.item:hover,
.ui.secondary.pointing.menu.main-menu .link.item:hover,
.ui.secondary.pointing.menu.main-menu a.item:hover {
    color: #dd4956;
}
.cards-div {
    padding: 40px;
}
.card-image-div {
    height: 9em;
    overflow: hidden;
    position: relative;
    padding: 10px;
}
.cards-div.campaigns .card-image-div img {
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}
.cards-div.campaigns .ui.card>.content,
.cards-div.campaigns .ui.cards>.card>.content {
    background-color: #f5f5f5;
    font-weight: 700;
}
.cards-div.campaigns .ui.card>.content.extra,
.cards-div.campaigns .ui.cards>.card>.content.extra {
    background-color: #fff;
}
.cards-div.freelancers .ui.card>.content,
.cards-div.freelancers .ui.cards>.card>.content {
    text-align: center;
    background-color: #fff;
    font-weight: 700;
    border-top: none;
}
.cards-div.freelancers .ui.card>.content.extra,
.cards-div.freelancers .ui.cards>.card>.content.extra {
    background-color: #f5f5f5;
}
.cards-div.freelancers .card-image-div {
    background-image: linear-gradient(bottom, #fff 50%, #4183c4 50%);
    background-image: -o-linear-gradient(bottom, #fff 50%, #4183c4 50%);
    background-image: -moz-linear-gradient(bottom, #fff 50%, #4183c4 50%);
    background-image: -webkit-linear-gradient(bottom, #fff 50%, #4183c4 50%);
    background-image: -ms-linear-gradient(bottom, #fff 50%, #4183c4 50%);
}
/*.cards-div.freelancers .card-image-div:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    right: 0;
    background-image: url(/img/bg.png);
    z-index: 0;
}*/
.cards-div.freelancers .card-image-div img {
    height: 100%;
    width: auto;
    margin: auto;
    z-index: 1;
    border: 3px solid white;
}
.ui.inverted.segment.footer {
    background-color: #262b2d;
    border-top: 1px solid #dd4956;
}
.footer .ui.inverted.link.list .item,
.footer .ui.inverted.link.list .item a:not(.ui),
.footer .ui.inverted.link.list a.item {
    color: white;
}
.ui.progress>.label {
    text-align: right;
}
.ui.progress .bar {
    background-color: #4183c4;
}
.ui.segment.borderless {
    border: none;
    box-shadow: none;
    padding-top: 2em;
}
.campaign-show span.date {
    font-size: 1.3em;
}
.campaign-show h3,
.freelancer-show h3 {
    font-size: 2rem;
    font-weight: 700;
}
.freelancer-show .ui.grid>.row>.column>img,
.freelancer-show .ui.grid>.row>img {
    max-width: 100px;
}
.freelancer-quick-stats h3,
.freelancer-quick-stats p {
    margin-bottom: 0;
}
h4 {
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    font-size: 2rem;
}
h4:after {
    background-color: #dd4956;
}

h4:after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
p#message-from-us {
    color: #feb737;
}
.heart.icon {
    color: #dd4956;
}
.ui.form .field {
    margin-left: auto;
    margin-right: auto;
}
.ui.label {
    background-color: black;
    color: white;
}
